@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  color: #FDFDFD;
  text-align: center;
  margin-top: 20%;
}

h1 {
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

li span {
  display: block;
  font-size: 4.5rem;
  font-family: 'Open Sans', sans-serif;
}